<!DOCTYPE html>
<html>
<head>
	<title>Current Affairs</title>
	<meta charset="utf-8">
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> GKuiz</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/profile/{{ currentuser }}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-list"></span> Categories<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/quiz/Literature"><span class="glyphicon glyphicon-book"></span> Literature</a></li>
						<li><a href="/quiz/History"><span class="glyphicon glyphicon-knight"></span> History</a></li>
						<li><a href="/quiz/CurrentAffairs"><span class="glyphicon glyphicon-bullhorn"></span> Current Affairs</a></li>
						<li><a href="/quiz/Movies"><span class="glyphicon glyphicon-film"></span> Movies</a></li>
						<li><a href="/quiz/Science"><span class="glyphicon glyphicon-tint"></span> Science</a></li>
						<li><a href="/quiz/Sports"><span class="glyphicon glyphicon-flag"></span> Sports</a></li>
					</ul>
				</li>
				<li><a href="http://127.0.0.1:5000/leaderboard/globalrank"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Leaderboards</a></li>
				<li><a href="/user/sign-out"><span class="glyphicon glyphicon-new-window"></span> Log-Out</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="card" style="width:30vw">
					<img class="card-img-top" src="../static/Indian.jpeg" alt="Indian" style="width:100%">
					<div class="card-body">
						<h4 class="card-title"><b>Indian</b></h4>
						<p class="card-text">
							{% if indian == 0 %}
							Not Attempted
							{% else %}
							 {{ indian }}
							{% endif %}
						</p>
						<a href="/quiz/History/indian" class="btn btn-primary">Start New Quiz</a>
					</div>
					<br/>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="card" style="width:30vw">
					<img class="card-img-top" src="../static/Foreign.jpeg" alt="Foreign" style="width:100%">
					<div class="card-body">
						<h4 class="card-title"><b>Foreign</b></h4>
						<p class="card-text">
							{% if foreign == 0 %}
							Not Attempted
							{% else %}
							 {{ foreign }}
							{% endif %}
						</p>
						<a href="/quiz/History/foreign" class="btn btn-primary">Start New Quiz</a>
					</div>
				</div>
			</div>
		</div>
	</div><br/><br/>
	<div class="jumbotron" style="background-color: black;">
		<p style="text-align: center; color: white;">&copy; 2018 GKuiz. All rights reserved.</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>